*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    }
    .all-contect{
     @important background: #c77e10;
    
    }
    html ::-webkit-scrollbar-track{
        background: transparent;
    }
    html ::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
    
    }
    html ::-webkit-scrollbar{
        width: 10px;
    }
    #navbar{ 
        background-color: #b2744c;
    } 
    #logo{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
    
    }
    .navbar-nav{
    margin-left: 50px;
    
    }